<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (10.2)</string>
	<string>T10.3.9 (7353.9.8)</string>
	<string>G-r1110-11B111</string>
	<string>G-r1120-11C162</string>
	<string>T11.2 (7357.0.149)</string>
	<string>G-r1120-11C163</string>
	<string>M11.2-7032.0.145-2</string>
	<string>T12.0 (7358.0.134)</string>
	<string>T12.1 (7359.0.88)</string>
	<string>T12.2 (7364.0.1)</string>
	<string>G-r1220-12C153</string>
</array>
</plist>
